.pwv-freetexteditor {
  border: solid 1px #999999;
}
.pwv-freetexteditor-toolbar {
  position: absolute;
  top: -105px;
  left: 0;

}

.pwv-freetext-subject {
  display: flex;
  align-items: center;
  input {
    width: 220px;
    height: 30px;
    border: none;
    padding: .3rem;
    box-sizing: border-box;
    resize: none;
    font-size: .9rem !important;
  }

}
